{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}

<h1>Авторизация</h1>

<form method="POST"  novalidate >
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form.as_p }}
    <p><button type="submit">Войти</button></p>
</form>
<a href="{% url 'users:password_reset' %}">Забыли пароль?</a>

<p>
    <a  href="{% provider_login_url 'github' %}">
      <img src="/media/social-auth/github.png" alt="github" width="50">
    </a>
</p>
<p> {{ test }}</p>
{% endblock content %}
